<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><{t}>安装界面<{/t}></title>
<link href="../statics/program.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="contant">
 <div class="logo"><div class="logo-image"></div></div>
 <div class="main">
  <div class="left">
   <div class="left-top"></div>
   <div class="left-nav">
    <ul>
    <li class="nav-current">1.<{t}>软件协议<{/t}></li>
    <li class="nav-unselected">2.<{t}>信息配置<{/t}></li>
    <li class="nav-unselected">3.<{t}>安装软件包<{/t}>（9）</li>
    </ul>
   </div>
   <div class="left-bottom"><a href="#"><{t}>打开安装控制台<{/t}></a><span>(<{t}>高级<{/t}>)</span></div>
  </div>
  <div class="right">
   <div class="right-top">
    <div class="right-topangle"></div>
   </div>
   <div class="right-main">
    <div class="right-main-title"><{t}>软件使用协议<{/t}></div>
    <div class="right-main-info">
     <div class="info-license">
     </div>
    </div>
    <div class="right-main-btn"><a href="#"><img src="../statics/setup_15.gif" width="141" height="29" /></a></div>
   </div>
   <div class="right-bottom">
   <div class="right-bottomangle"></div>
   </div>
  </div>
 </div>
</div>
</body>
</html>
