div.bank_type_title { font-size: 16px; border-bottom: 1px solid #cccccc; padding-bottom: 5px; margin-bottom: 5px; margin-top: 10px; }
span.bank_item { display: inline-block; margin: 10px;}
.bank_item_opt { vertical-align: middle; }
