<div class="tabs-wrap">
  <ul>
    <li class="tab current"><span><{t}>微信免登链接生成<{/t}></span></li>
  </ul>
</div>
  <form method="post" action="index.php?app=weixin&ctl=admin_menu&act=get_matrix_url" id="whitelist">
    <div style="text-align:right;padding:3px 30px"></div>
    <table class="tableform" style="width:99%;">
    <tbody>
      <div class="notice">
        <h3><{t}>微信免登链接生成：<{/t}></h3>
        <span class="red">
          <{t}>1.该功能仅适用于与朋客对接的版本中，使用前先要通过[控制面板]—[数据互联]绑定朋客的微信。<{/t}><br/>
          <{t}>2.生成的链接仅限数据互联后设置在朋客后台的自定义菜单中。<{/t}><br/>
          <{t}><{$msg}><{/t}>
        </span>
      </div>
      <tr>
        <th><{t}>要生成的Url：<{/t}></th>
        <td>
          <input type="text" name="url" value="<{$url}>">
        </td>
      </tr>
      <tr>
        <th><{t}>带有免登参数的Url：<{/t}></th>
        <td>
          <{input type="textarea" name="matrix_url" value=$matrix_url }>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="table-action">
    <{button type="submit"  label=$___desktop="提交"|t:'site'}>
  </div>
</form>
